*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-image: url(healthy-unhealthy-food-background-fruits-vegetables-vs-fast-food-sweets-pastry-top-view-healthy-unhealthy-318850640.webp);
  background-repeat: no-repeat;
  background-size: auto;
  font-family: sans-serif;
}

form {
  margin: 150rem auto;
  width: 600rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10rem;
  padding: 30rem 25rem 30rem 25rem;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40rem;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 17rem;
}

label {
  font-size: 30rem;
  color: white;
  margin-bottom: 5rem;
  font-weight: bold;
}

input {
  padding: 10rem;
  margin-bottom: 20rem;
  font-size: 30rem;
  color: white;
  font-weight: bold;
  background-color: rgba(215, 249, 204, 0.5);
  border: none;
  border-radius: 7rem;
}

h3 {
  font-size: 25rem;
  color: white;
}

button {
  margin-bottom: 15rem;
  border: none;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35rem;
  padding: 10rem;
  background-color: rgba(7, 112, 7, 0.8);
  color: white;
  border-radius: 5rem;
}
